a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
	background: transparent;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	color: #FFF;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
table, table td { 
	padding:0;
	border:none;
	border-collapse:collapse;
}
img {
	vertical-align:top; 
}
embed { 
	vertical-align:top;
}
#spacer {
	padding: 0px;
	height: 20px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#page5 #content .main .container_12 .wrapper .grid_4 p {
	text-align: left;
}
#dj-intro {
	width: 960px;
	margin-right: 7px;
	margin-left: 7px;
	line-height: normal;
	margin-bottom: 15px;
}
#dj-col1 {
	width: 464px;
	margin-right: 7px;
	margin-left: 7px;
	line-height: normal;
	text-align: left;
}
#dj-col1 {
	width: 464px;
	margin-right: 7px;
	margin-left: 7px;
	float: left;
}
#dj-col2 {
	width: 464px;
	margin-right: 7px;
	margin-left: 7px;
	float: right;
	line-height: normal;
}
#news-col1 {
	float: left;
	width: 464px;
	margin-right: 7px;
	margin-bottom: 0px;
	margin-left: 7px;
	padding-right: 10px;
}
#news-col2 {
	float: right;
	width: 444px;
	margin-right: 3px;
	margin-left: 11px;
	text-align: left;
	line-height: normal;
}
#page5 #content .main .container_12 .wrapper #about #news-col1 {
	text-align: left;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #FFF;
}
