@charset "UTF-8";

/** 
 * Abobe Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Adobe
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "default.css";


/* -- Base style extension -- */

ul.dropdown li a {
	display: block;
	padding: 7px 12px;
	color: #FFF;
}


/* -- Base style override -- */

ul.dropdown li {
	padding: 0;
	color: #FFF;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
	padding: 7px 20px 7px 12px;
	color: #FFF;
}

ul.dropdown ul li.dir {
	padding-right: 15px;
	color: #FFF;
}


/* -- Custom -- */

ul.dropdown ul a {
	padding: 4px 5px 4px 12px;
	color: #FFF;
}

ul.dropdown ul a:hover {
	padding: 3px 5px 3px 11px;
	border: solid 1px #ec008c;
	background-color: #ec008c;
	font-weight: bold;
	color: #FFF;
}
